# Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

## Let's download the data and read it into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

## Let's check the dataset for any missing values.

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

## Normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [7]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

## import the libraries

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

import keras

from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

# Part A Build a baseline model

## Randomly split the data into a training and test sets by holding 30% of the data for testing.

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [11]:
#build the regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and test the model

In [12]:
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

## Train the model with 50 epoachs

In [13]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 1s 882us/step - loss: 1582.4168
Epoch 2/50
721/721 [==============================] - 0s 141us/step - loss: 1565.0811
Epoch 3/50
721/721 [==============================] - 0s 159us/step - loss: 1547.5283
Epoch 4/50
721/721 [==============================] - 0s 140us/step - loss: 1529.5367
Epoch 5/50
721/721 [==============================] - 0s 140us/step - loss: 1510.9121
Epoch 6/50
721/721 [==============================] - 0s 138us/step - loss: 1491.6362
Epoch 7/50
721/721 [==============================] - 0s 138us/step - loss: 1471.67980s - loss: 1421.71
Epoch 8/50
721/721 [==============================] - 0s 138us/step - loss: 1451.0557
Epoch 9/50
721/721 [==============================] - 0s 140us/step - loss: 1429.5935
Epoch 10/50
721/721 [==============================] - 0s 146us/step - loss: 1406.8245
Epoch 11/50
721/721 [==============================] - 0s 136us/step - loss: 1383.8102
Epoch 12/50
721/721 [==============================] - 0s 138us/step - loss: 1359.5101
Epoch 13/50
721/721 [==============================] - 0s 148us/step - loss: 1334.5299
Epoch 14/50
721/721 [==============================] - 0s 139us/step - loss: 1308.5719
Epoch 15/50
721/721 [==============================] - 0s 141us/step - loss: 1281.4231
Epoch 16/50
721/721 [==============================] - 0s 136us/step - loss: 1253.6903
Epoch 17/50
721/721 [==============================] - 0s 139us/step - loss: 1225.6156
Epoch 18/50
721/721 [==============================] - 0s 137us/step - loss: 1195.9697
Epoch 19/50
721/721 [==============================] - 0s 138us/step - loss: 1166.2249
Epoch 20/50
721/721 [==============================] - 0s 139us/step - loss: 1135.8553
Epoch 21/50
721/721 [==============================] - ETA: 0s - loss: 1116.48 - 0s 137us/step - loss: 1105.1256
Epoch 22/50
721/721 [==============================] - 0s 139us/step - loss: 1073.4336
Epoch 23/50
721/721 [==============================] - 0s 148us/step - loss: 1042.2187
Epoch 24/50
721/721 [==============================] - 0s 127us/step - loss: 1009.9333
Epoch 25/50
721/721 [==============================] - 0s 136us/step - loss: 977.6714
Epoch 26/50
721/721 [==============================] - 0s 137us/step - loss: 945.4518
Epoch 27/50
721/721 [==============================] - 0s 136us/step - loss: 912.6414
Epoch 28/50
721/721 [==============================] - 0s 137us/step - loss: 880.1828
Epoch 29/50
721/721 [==============================] - 0s 147us/step - loss: 847.5712
Epoch 30/50
721/721 [==============================] - 0s 153us/step - loss: 815.5348
Epoch 31/50
721/721 [==============================] - 0s 121us/step - loss: 783.6976
Epoch 32/50
721/721 [==============================] - 0s 141us/step - loss: 752.3548
Epoch 33/50
721/721 [==============================] - 0s 138us/step - loss: 721.6020
Epoch 34/50
721/721 [==============================] - 0s 139us/step - loss: 691.5080
Epoch 35/50
721/721 [==============================] - 0s 140us/step - loss: 662.4794
Epoch 36/50
721/721 [==============================] - 0s 137us/step - loss: 634.0863
Epoch 37/50
721/721 [==============================] - ETA: 0s - loss: 620.241 - 0s 139us/step - loss: 606.8930
Epoch 38/50
721/721 [==============================] - 0s 155us/step - loss: 581.0219
Epoch 39/50
721/721 [==============================] - 0s 138us/step - loss: 555.3913
Epoch 40/50
721/721 [==============================] - 0s 141us/step - loss: 531.2589
Epoch 41/50
721/721 [==============================] - 0s 136us/step - loss: 508.4695
Epoch 42/50
721/721 [==============================] - 0s 143us/step - loss: 486.2474
Epoch 43/50
721/721 [==============================] - 0s 137us/step - loss: 465.1600
Epoch 44/50
721/721 [==============================] - 0s 135us/step - loss: 444.9983
Epoch 45/50
721/721 [==============================] - 0s 137us/step - loss: 426.2008
Epoch 46/50
721/721 [==============================] - 0s 138us/step - loss: 407.9777
Epoch 47/50
721/721 [==============================] - 0s 234us/step - loss: 390.9234
Epoch 48/50
721/721 [==============================] - 0s 155us/step - loss: 374.8269
Epoch 49/50
721/721 [==============================] - 0s 185us/step - loss: 359.7422
Epoch 50/50
721/721 [==============================] - 0s 123us/step - loss: 345.5828

## Evaluate the model using test data

In [14]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 197us/step

338.6520102294132

In [15]:
#  compute the mean squared error between the predicted concrete strength and the actual concrete strength
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

338.6520076223858 0.0

In [16]:
#Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors
total_mse = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mse):
    #X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mse) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 153.3060706178733
MSE 2: 109.01760676609274
MSE 3: 86.14635595920402
MSE 4: 75.66015039832847
MSE 5: 68.87094506322373
MSE 6: 62.82472751210037
MSE 7: 54.630285874153806
MSE 8: 50.84225745339995
MSE 9: 48.275496930366195
MSE 10: 46.32323411367472
MSE 11: 45.499464510328174
MSE 12: 44.003234474404344
MSE 13: 43.944041674962705
MSE 14: 43.05254039332319
MSE 15: 42.91632231308033
MSE 16: 42.54754368927101
MSE 17: 42.76141208661027
MSE 18: 42.08386765637444
MSE 19: 42.342365487107955
MSE 20: 42.35723120803586
MSE 21: 41.97036896245765
MSE 22: 41.9675872333613
MSE 23: 41.69700328123222
MSE 24: 41.734957667230404
MSE 25: 41.42422635346941
MSE 26: 41.463737234714344
MSE 27: 41.089993887348854
MSE 28: 41.245618888089574
MSE 29: 41.20905060752696
MSE 30: 40.555208237040006
MSE 31: 40.617398104621365
MSE 32: 40.06329110525187
MSE 33: 40.02036203304155
MSE 34: 39.581082760709
MSE 35: 39.64417863123625
MSE 36: 39.427970978820206
MSE 37: 39.594802844100016
MSE 38: 39.18075176350121
MSE 39: 39.082772338274616
MSE 40: 39.1926466870848
MSE 41: 39.53293625668029
MSE 42: 39.206180652754206
MSE 43: 39.020225092816894
MSE 44: 38.859138322108
MSE 45: 38.86485763969545
MSE 46: 38.653555021316876
MSE 47: 38.8943512185106
MSE 48: 38.71267222432257
MSE 49: 38.875366087484515
MSE 50: 38.96614800610588


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 47.75507335079646
Standard Deviation: 19.96826435904281

# Compared with partA, when normalizing the data, the mean is smaller and the standard deviation is bigger